#!$(PAL)

loader.preload = file:$(SHIMPATH)
loader.exec = file:$(JAVA_HOME)/bin/java
loader.execname = java
loader.env.LD_LIBRARY_PATH = /jre/lib/amd64:/jre/lib/amd64/jli:/graphene:/usr/lib/x86_64-linux-gnu:/lib/x86_64-linux-gnu
loader.env.JAVA_HOME = /jre
loader.env.PATH = /jre/bin:/bin
loader.debug_type = $(DEBUGTYPE)

fs.mount.graphene.type = chroot
fs.mount.graphene.path = /graphene
fs.mount.graphene.uri = file:$(LIBCDIR)

fs.mount.lib1.type = chroot
fs.mount.lib1.path = /usr/lib/x86_64-linux-gnu
fs.mount.lib1.uri = file:/usr/lib/x86_64-linux-gnu

fs.mount.bin1.type = chroot
fs.mount.bin1.path = /usr/bin
fs.mount.bin1.uri = file:/usr/bin

fs.mount.lib2.type = chroot
fs.mount.lib2.path = /lib/x86_64-linux-gnu
fs.mount.lib2.uri = file:/lib/x86_64-linux-gnu

fs.mount.bin2.type = chroot
fs.mount.bin2.path = /bin
fs.mount.bin2.uri = file:/bin

fs.mount.jre.type = chroot
fs.mount.jre.path = /jre
fs.mount.jre.uri = file:$(JAVA_HOME)

fs.mount.tmp.type = chroot
fs.mount.tmp.path = /tmp
fs.mount.tmp.uri = file:/tmp

fs.mount.etc.type = chroot
fs.mount.etc.path = /etc
fs.mount.etc.uri = file:$(PWD)/etc

glibc.heap_size = 16M
sys.stack.size = 4M
sys.brk.size = 64M
sgx.enclave_size = 4G
sgx.thread_num = 48

sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6
sgx.trusted_files.libdl = file:$(LIBCDIR)/libdl.so.2
sgx.trusted_files.librt = file:$(LIBCDIR)/librt.so.1
sgx.trusted_files.libm = file:$(LIBCDIR)/libm.so.6
sgx.trusted_files.libpthread = file:$(LIBCDIR)/libpthread.so.0
sgx.trusted_files.libstdcpp = file:/usr/lib/x86_64-linux-gnu/libstdc++.so.6
sgx.trusted_files.libgcc_s = file:/lib/x86_64-linux-gnu/libgcc_s.so.1
sgx.trusted_files.libjvm = file:$(JAVA_HOME)/lib/amd64/server/libjvm.so
sgx.trusted_files.libjava = file:$(JAVA_HOME)/lib/amd64/libjava.so
sgx.trusted_files.libjli = file:$(JAVA_HOME)/lib/amd64/jli/libjli.so
sgx.trusted_files.libzip = file:$(JAVA_HOME)/lib/amd64/libzip.so
sgx.trusted_files.libnet = file:$(JAVA_HOME)/lib/amd64/libnet.so
sgx.trusted_files.libnio = file:$(JAVA_HOME)/lib/amd64/libnio.so
sgx.trusted_files.libverify = file:$(JAVA_HOME)/lib/amd64/libverify.so
sgx.trusted_files.libsunec = file:$(JAVA_HOME)/lib/amd64/libsunec.so
sgx.trusted_files.libmanagement = file:$(JAVA_HOME)/lib/amd64/libmanagement.so
sgx.trusted_files.libnss1 = file:/lib/x86_64-linux-gnu/libnss_dns.so.2
sgx.trusted_files.libnss2 = file:/lib/x86_64-linux-gnu/libnss_files.so.2
sgx.trusted_files.libz = file:/lib/x86_64-linux-gnu/libz.so.1
sgx.trusted_files.libjaas = file:$(JAVA_HOME)/lib/amd64/libjaas_unix.so


sgx.trusted_files.logging = file:$(JAVA_HOME)/lib/logging.properties
sgx.trusted_files.jvmcfg = file:$(JAVA_HOME)/lib/amd64/jvm.cfg
sgx.trusted_files.meta = file:$(JAVA_HOME)/lib/meta-index
sgx.trusted_files.tzdb = file:$(JAVA_HOME)/lib/tzdb.dat
sgx.trusted_files.currency = file:$(JAVA_HOME)/lib/currency.data
sgx.trusted_files.rt = file:$(JAVA_HOME)/lib/rt.jar
sgx.trusted_files.jce = file:$(JAVA_HOME)/lib/jce.jar
sgx.trusted_files.jsse = file:$(JAVA_HOME)/lib/jsse.jar
sgx.trusted_files.resources = file:$(JAVA_HOME)/lib/resources.jar
sgx.trusted_files.charsets = file:$(JAVA_HOME)/lib/charsets.jar

sgx.allowed_files.ext = file:$(JAVA_HOME)/lib/ext
sgx.allowed_files.security = file:$(JAVA_HOME)/lib/security
sgx.allowed_files.classes = file:classes
sgx.allowed_files.etc = file:$(PWD)/etc
sgx.allowed_files.tmp = file:/tmp
sgx.allowed_files.hadoop = file:$(PWD)/Hadoop
