loader.preload = file:$(SHIMPATH)
loader.exec = file:/bin/ls
loader.env.LD_LIBRARY_PATH = /graphene:/lib/x86_64-linux-gnu
loader.debug_type = none

fs.mount.graphene.type = chroot
fs.mount.graphene.path = /graphene
fs.mount.graphene.uri = file:$(LIBCDIR)

fs.mount.lib.type = chroot
fs.mount.lib.path = /lib/x86_64-linux-gnu
fs.mount.lib.uri = file:/lib/x86_64-linux-gnu

fs.mount.etc.type = chroot
fs.mount.etc.path = /etc
fs.mount.etc.uri = file:$(PWD)/etc

# sgx-related
sgx.trusted_files.ld = file:$(LIBCDIR)/ld-linux-x86-64.so.2
sgx.trusted_files.libc = file:$(LIBCDIR)/libc.so.6
sgx.trusted_files.libdl = file:$(LIBCDIR)/libdl.so.2
sgx.trusted_files.libpthread = file:$(LIBCDIR)/libpthread.so.0
sgx.trusted_files.libselinux = file:/lib/x86_64-linux-gnu/libselinux.so.1
sgx.trusted_files.libacl = file:/lib/x86_64-linux-gnu/libacl.so.1
sgx.trusted_files.libpcre = file:/lib/x86_64-linux-gnu/libpcre.so.3
sgx.trusted_files.libattr = file:/lib/x86_64-linux-gnu/libattr.so.1
sgx.trusted_files.libnss1 = file:/lib/x86_64-linux-gnu/libnss_dns.so.2
sgx.trusted_files.libnss2 = file:/lib/x86_64-linux-gnu/libnss_files.so.2

sgx.allowed_files.etc = file:$(PWD)/etc
